@using Domain
@model IEnumerable<Domain.Question>

<h1>Questionnaire</h1>

<table class="table">
    <form method="post" id="form">
    @foreach (var item in Model)
    {
        if (item.questionType == QuestionType.OPEN_QUESTION)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.question) <br>
                    <textarea name="answer" form="form"></textarea>
                </td>
            </tr>
        }
        if (item.questionType == QuestionType.CHECK_BOX)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.question) <br>
                    <input type="checkbox" form="form" name="option1" value="option1">Option 1 <br>
                    <input type="checkbox" form="form" name="option2" value="option2">Option 2 <br>
                    <input type="checkbox" form="form" name="option3" value="option3">Option 3 <br>
                </td>
            </tr>
        }
        if (item.questionType == QuestionType.RADIO_BUTTON)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.question) <br>
                    <input type="radio" form="form" name="option1" value="option1">Option 1 <br>
                    <input type="radio" form="form" name="option2" value="option2">Option 2 <br>
                    <input type="radio" form="form" name="option3" value="option3">Option 3 <br>
                </td>
            </tr>
        }
        if (item.questionType == QuestionType.MAILADDRESS)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.question) <br>
                    <input type="text" form="form" name="email">
                </td>
            </tr>
        }
        if (item.questionType == QuestionType.DROPDOWN)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.question) <br>
                    <select>
                        <option value="Option" form="form" name="option1">Option 1</option>
                        <option value="Option" form="form" name="option2">Option 2</option>
                        <option value="Option" form="form" name="option3">Option 3</option>
                    </select>
                </td>
            </tr>
        }
    }
    <tr>
        <input asp-action="CreateAnswer" class="btn" type="submit" value="Submit">
    </tr>
    </form>
</table>