
@using System.Xml.Linq
@using D.UI.MVC.Models.Ideas
@using Domain
@model D.UI.MVC.Models.Ideas.IdeaVM

@foreach (var item in Model.ideationQuestion)
{
    <p>@item</p>
}



<form asp-controller="Idea" asp-action="CreateIdea" method="post" enctype="multipart/form-data">

   
    
   <input asp-for="ideationId" value="@Model.ideationId" type="hidden"/>
   @Html.EditorFor(x => x.textFieldVm)    
   @Html.EditorFor(x => x.imageFieldVm)
   @Html.EditorFor(x => x.videoFieldVm)
   @Html.EditorFor(x => x.mapFieldVm)
     

   
  


                                       
    
        
     
   
     <input type="submit" value="save">   
         
    
</form>
